* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg,#126171,#126171);
}

.emplopyee-app-container {
    display: flex;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    overflow: hidden; /* Prevent overflow */
}

/* Main Section for both Login and Signup */
.emplopyee-main-section {
    display: flex;
    flex: 1; /* Use remaining space */
    width: 100%; /* Ensure it takes full width */
}
/* Main Login Section Styles */
.emplopyee-login-section {
    flex: 1;
    /* Use remaining space */
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login Form Styles */
.emplopyee-login-form {
    align-items: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* Full width */
    max-width: 450px;
    /* Increased max width for larger screens */
    text-align: center;
}

/* Title Style */
.emplopyee-login-title {
    background-color: #45A994;
    /* Change to your preferred color */
    padding: 20px;
    width: 250px;
    border-radius: 5px;
    margin-bottom: 50px;
    /* Increased space below the title */
}

.emplopyee-login-form h1 {
    color: #ffffff;
}

/* Input Field Styles */
.emplopyee-input-field {

    width: 100%;
    padding: 15px;
    /* Increased padding for larger size */
    margin: 15px 0;
    /* Increased margin for more space */
    background-color: #45A994;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    /* Increased font size */
}

/* Focused Input Field Styles */
.emplopyee-input-field:focus {
    outline-color: #0f4b4d;

}

/* Remember Me Section */
.emplopyee-remember-me {
    margin: 20px 0;
    /* Increased space for better separation */
    text-align: left;
}

/* Links Styles */
.emplopyee-forgot-password,
.emplopyee-resend-confirmation,
.emplopyee-Register-new-account {
    display: block;
    margin: 10px 0;
    /* Space between links */
    color: #45A994;
    text-decoration: none;
}

/* Button Styles */
.emplopyee-login-button {
    width: 200px;
    padding: 15px;
    /* Increased padding for larger size */
    background-color: #45A994;
    color: 0f4b4d;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    /* Increased font size */
    margin-top: 20px;
    /* Space above the login button */
}




